<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="google-signin-client_id"
          content="218413310491-9qjqf68aqtlfjcb0uog7kik72crliohh.apps.googleusercontent.com">
    <base href="{{ baseurl }}">
    <link rel='stylesheet' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' href='css/app.css'/>
</head>
<body>

<div class="container text-center">
    <h2>Your account has been validated on our server. You can now log in the ESWC2017 app</h2>
</div>

<div class="footer">
    © 2017 Sympozer.com — All rights reserved
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
