{% extends 'layout.twig' %}

{% block body %}
    {% if error %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">{{ error }}</div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <h1>Search a ressource</h1>
            <form method="POST" action="/admin/search/ressource/person">
                <div class="form-group">
                    <label for="person-id-ressource">Person id ressource</label>
                    <input type="text" class="form-control" id="person-id-ressource" placeholder="Person id ressource"
                           name="person_id_ressource">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Create Person Ressource</h1>
            <form method="POST" action="/admin/create/ressource/person">
                <div class="form-group">
                    <label for="person-id-ressource">Person id ressource</label>
                    <input type="text" class="form-control" id="person-id-ressource" placeholder="Person id ressource"
                           name="person_id_ressource">
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
{% endblock %}