{% extends 'layout.twig' %}

{% block body %}
    <h1>Search ressource</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/admin/search/person">
        <div class="form-group">
            <label for="person-id-ressource">Person id ressource</label>
            <input type="text" class="form-control" id="person-id-ressource" placeholder="Person id ressource" name="person_id_ressource">
        </div>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
{% endblock %}