{% extends 'layout.twig' %}

{% block body %}
    <h1>Avatar</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/profile/avatar" enctype="multipart/form-data">
        <div class="form-group">
            {% if user.avatar_view %}
                <img src="/{{ user.avatar_view }}" for="avatar"/>
            {% endif %}
            <input type="file" class="form-control" id="avatar"
                   name="avatar">
        </div>
        <button type="submit" class="btn btn-success">Change my avatar</button>
    </form>

    <a href="/profile/avatar/remove" role="button" class="btn btn-danger">Remove my avatar</a>
{% endblock %}
