{% extends 'layout.twig' %}

{% block body %}
    {% if error %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">{{ error }}</div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <h1>External resources of the ESWC2017 application</h1>
        <h2>Why did we create this website?</h2>
        <p>The main information available in the ESWC2017 app are contractual: they have been provided at paper submission time
            and reviewed by the PCs, or provided by the conference organizers. However, available data about persons (paper authors,
            committee members...) are usually sparse. If you wish other participants to know more about you from your page on the app, you can use
            this site to enrich your profile.</p>
        <h2>How can you enrich your app profile?</h2>
        <p>It's quite simple:</p>
        <ol>
            <li>Create an account using the email address you provided to the conference organizers</li>
            <li>Fill in the form in "My profile"</li>
            <li>You're done!</li>
        </ol>
    </div>
{% endblock %}