{% extends 'layout.twig' %}

{% block body %}
    <div>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <form method="POST" action="/admin/manage/ressource/person">
                    <input type="text" class="hidden" value="{{ person_ressource._id }}" name="id_person_ressource"/>
                    {% include 'form_profile.twig' %}
                </form>
            </div>
        </div>

    </div>
{% endblock %}
