{% extends 'layout.twig' %}

{% block body %}
    <div>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li role="presentation">
                <a href="#changepassword" aria-controls="changepassword" role="tab" data-toggle="tab">Change
                    password</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <form method="POST" action="/profile">
                    {% include 'form_profile.twig' %}
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="changepassword">
                <form method="POST" action="/profile/update_password">
                    <div class="form-group">
                        <label for="changepassword_password">Password</label>
                        <input type="password" class="form-control" id="changepassword_password"
                               placeholder="Password"
                               name="password"/>
                    </div>
                    <div class="form-group">
                        <label for="changepassword_confirmpassword">Confirm password</label>
                        <input type="password" class="form-control" id="changepassword_confirmpassword"
                               placeholder="Confirm password"
                               name="confirmPassword"/>
                    </div>
                    <button type="submit" class="btn btn-success">Update my password</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
